<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caressa.fitness_tracker">

    <application>

        <activity
            android:name=".FitnessHomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <receiver
            android:name="com.caressa.fitness_tracker.receiver.FitnessBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ClearFitnessData" />
            </intent-filter>
        </receiver>

    </application>

</manifest>